<div class="container mt-5 text-center">
  <div class="row mb-3">
    <div class="col md-6">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          月份
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          {{#each months}}
          <a class="dropdown-item" href="#">{{this}}</a>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col md-6">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          類別
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col text-center">
      <h1 class="text-center">總金額:250000</h1>
      <p>{{#bold}}這是測試文字{{/bold}}</p>
      <p>這次測試的名稱:{{userName}}</p>
    </div>
  </div>

  <div class="row">
    {{#each records}}
    <div class="col-md-8 d-flex justify-content-between bg-primary mb-2">
      <div class="record_info d-flex">
        <div class="img mr-2">
          image-palceholder
        </div>
        <div class="info">
          {{this.name}}
          {{get_date this.date}}
        </div>
      </div>
      <div class="record_amount">
        金額:{{this.amount}}
      </div>
    </div>
    <div class="col-md-4 mb-2">
      <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#a{{{this.id}}}"
        style="display:inline">
        Delete
      </button>
      <a href="/record/edit/{{this.id}}">edit</a>
    </div>

    {{!-- modal --}}
    <div class="modal fade" style="font-family:'Noto Sans TC', sans-serif;" id="a{{{this.id}}}" tabindex="-1"
      role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">確認視窗</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            你即將要刪除 {{{this.name}}} 這筆支出資料，刪除後資料將無法復原，確定刪除嗎?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <form action="/record/{{this.id}}?_method=DELETE" method="POST" style="display:inline">
              <button type='submit' class="btn btn-primary">確認刪除</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>